GRANT ALL ON public.grupo_r3_servidores TO anon, authenticated; ALTER TABLE public.grupo_r3_servidores DISABLE ROW LEVEL SECURITY; GRANT ALL ON public.grupo_r3_sublojas TO anon, authenticated; ALTER TABLE public.grupo_r3_sublojas DISABLE ROW LEVEL SECURITY;
